/* Indeterminate progress animation */
@keyframes indeterminate {
  0% {
    margin-left: -10%;
  }

  100% {
    margin-left: 100%;
  }
}

.animate-indeterminate {
  animation: indeterminate 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
