@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --prism-foreground: #393a34;
    --prism-background: #f8f8f8;
    --prism-comment: #758575;
    --prism-namespace: #444;
    --prism-string: #bc8671;
    --prism-punctuation: #80817d;
    --prism-literal: #36acaa;
    --prism-keyword: #248459;
    --prism-function: #849145;
    --prism-deleted: #9a050f;
    --prism-class: #2b91af;
    --prism-builtin: #8b5cf6;
    --prism-property: #d1368b;
    --prism-regex: #ad502b;
    --prism-selector: #4e2196;
  }

  .dark {
    --prism-foreground: #d4d4d4;
    --prism-background: #090f17;
    --prism-namespace: #aaa;
    --prism-comment: #758575;
    --prism-string: #ce9178;
    --prism-punctuation: #8f9fbf;
    --prism-literal: #36acaa;
    --prism-keyword: #38a776;
    --prism-function: #dcdcaa;
    --prism-deleted: #9a050f;
    --prism-class: #4ec9b0;
    --prism-builtin: #8b5cf6;
    --prism-property: #d1368b;
    --prism-regex: #ad502b;
    --prism-selector: #3a96a1;
  }

  /* Scroll thumb styles */

  .slimscroll::-webkit-scrollbar {
    width: 6px;
  }

  .slimscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0 0 0 / 20%);
  }

  .animate-indeterminate {
  animation: indeterminate 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes placeload {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animate-placeload {
  animation: placeload 1s linear infinite forwards;
}

.placeload {
  position: relative;
  background: rgb(0 0 0 / 7%);
  background: linear-gradient(
    to right,
    rgb(0 0 0 / 7%) 8%,
    rgb(0 0 0 / 15%) 18%,
    rgb(0 0 0 / 7%) 33%
  );
  background-size: 800px 104px;
  background-size: 1200px 104px;
}

.dark .placeload {
  position: relative;
  background: rgb(255 255 255 / 15%);
  background: linear-gradient(
    to right,
    rgb(255 255 255 / 15%) 8%,
    rgb(255 255 255 / 24%) 18%,
    rgb(255 255 255 / 15%) 33%
  );
  background-size: 800px 104px;
  background-size: 1200px 104px;
}

}
