@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Scrollbar helper class */

  .slimscroll::-webkit-scrollbar {
    width: 6px;
  }

  .slimscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0 0 0 / 20%);
  }

  /* Indeterminate progress animation */

  @keyframes indeterminate {
    0% {
      margin-left: -10%;
    }

    100% {
      margin-left: 100%;
    }
  }

  .animate-indeterminate {
    animation: indeterminate 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  @keyframes placeload {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  /* Placeload styles and animation */

  .animate-placeload {
    animation: placeload 1s linear infinite forwards;
  }

  .placeload {
    position: relative;
    background: rgb(0 0 0 / 7%);
    background: linear-gradient(
      to right,
      rgb(0 0 0 / 7%) 8%,
      rgb(0 0 0 / 15%) 18%,
      rgb(0 0 0 / 7%) 33%
    );
    background-size: 800px 104px;
    background-size: 1200px 104px;
  }

  .dark .placeload {
    position: relative;
    background: rgb(255 255 255 / 15%);
    background: linear-gradient(
      to right,
      rgb(255 255 255 / 15%) 8%,
      rgb(255 255 255 / 24%) 18%,
      rgb(255 255 255 / 15%) 33%
    );
    background-size: 800px 104px;
    background-size: 1200px 104px;
  }

  /* Accessibility focus class */

  .tairo-focus {
    @apply outline-none focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 transition-all duration-300;
  }

  /* Tooltip module */
  /* START TOOLTIP STYLES */
  [tooltip] {
    position: relative; /* opinion 1 */
  }

  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: 0.9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
    @apply text-white font-text text-xs bg-slate-800 dark:bg-pink-500 shadow-lg shadow-slate-800/20 dark:shadow-pink-500/10;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 0.5ch;
    z-index: 1000; /* absurdity 2 */
  }

  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }

  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }

  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^='up']::before {
    @apply text-slate-800 dark:text-pink-500;
    bottom: calc(100% + 10px);
    border-bottom-width: 0;
    border-top-color: currentColor;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^='up']::after {
    bottom: calc(100% + 15px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^='up']::before,
  [tooltip][flow^='up']::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
  }

  /* FLOW: DOWN */
  [tooltip][flow^='down']::before {
    @apply text-slate-800 dark:text-pink-500;
    top: 100%;
    border-top-width: 0;
    border-bottom-color: currentColor;
  }
  [tooltip][flow^='down']::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^='down']::before,
  [tooltip][flow^='down']::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
  }

  /* FLOW: LEFT */
  [tooltip][flow^='left']::before {
    @apply text-slate-800 dark:text-pink-500;
    top: 50%;
    border-right-width: 0;
    border-left-color: currentColor;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
  }
  [tooltip][flow^='left']::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
  }

  /* FLOW: RIGHT */
  [tooltip][flow^='right']::before {
    @apply text-slate-800 dark:text-pink-500;
    top: 50%;
    border-left-width: 0;
    border-right-color: currentColor;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
  }
  [tooltip][flow^='right']::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
  }

  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: 0.9;
      transform: translate(-50%, 0);
    }
  }

  @keyframes tooltips-horz {
    to {
      opacity: 0.9;
      transform: translate(0, -50%);
    }
  }

  /* FX All The Things */
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^='up']:hover::before,
  [tooltip][flow^='up']:hover::after,
  [tooltip][flow^='down']:hover::before,
  [tooltip][flow^='down']:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }

  [tooltip][flow^='left']:hover::before,
  [tooltip][flow^='left']:hover::after,
  [tooltip][flow^='right']:hover::before,
  [tooltip][flow^='right']:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
}
