@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Router Link */

  .slimscroll ul li .router-link-exact-active {
    color: var(--primary) !important;
  }

  /* Scrollbar helper class */

  .slimscroll::-webkit-scrollbar {
    width: 6px;
  }

  .slimscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0 0 0 / 20%);
  }

  /* Indeterminate progress animation */

  @keyframes indeterminate {
    0% {
      margin-left: -10%;
    }

    100% {
      margin-left: 100%;
    }
  }

  .animate-indeterminate {
    animation: indeterminate 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }


  /* Accessibility focus class */
  .tairo-focus {
    @apply focus-within:outline-1 focus-within:ring-0 focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 transition-all duration-300;
  }
  .tairo-focus-current {
    @apply focus-within:outline-1 focus-within:ring-0 focus-within:outline-dashed focus-within:outline-current focus-within:outline-offset-2 transition-all duration-300;
  }
}
